/* 한글 주석 깨짐 방지 */
@charset 'utf-8';

#app {
    width: 100vw;
    height: 100vh;
    perspective: 1600px;
}

.list-item {
    position: fixed;
    width: 400px;
    height: 360px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(40deg);
    /* rotateY(100deg) */
    /* 손자까지 3d 영향 미침 */
    transform-style: preserve-3d;
}